:root {
    --primeira-cor: #738290;
    --segunda-cor: #a1b5d8;

    --borda: #fffcf7;
     
    --fundo: #E4F0D0;
    --text: #C2D8B9;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;
     
    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    hight:  70px;
}